In [1]:
#Joindre plusieurs fichiers csv en un seul
import pandas as pd
import glob
import os
from sklearn.impute import SimpleImputer

In [2]:
# merging the files
files_joined = os.path.join(
    "./Dataset/Weather Data/Algeria", "Weather_*.csv"
)

In [3]:
# Return a list of all joined files
list_files = glob.glob(files_joined)

In [4]:
print("** Merging multiple csv files into a single pandas df1 **")
# Merge files by joining all files
df1 = pd.concat(map(pd.read_csv, list_files), ignore_index=True)
print(df1.head())
print(df1.isnull().sum())

** Merging multiple csv files into a single pandas df1 **
       STATION               NAME  LATITUDE  LONGITUDE  ELEVATION        DATE  \
0  AGE00147709  FORT NATIONAL, AG     36.63        4.2      942.0  1920-01-02
1  AGE00147709  FORT NATIONAL, AG     36.63        4.2      942.0  1920-01-03
2  AGE00147709  FORT NATIONAL, AG     36.63        4.2      942.0  1920-01-04
3  AGE00147709  FORT NATIONAL, AG     36.63        4.2      942.0  1920-01-05
4  AGE00147709  FORT NATIONAL, AG     36.63        4.2      942.0  1920-01-06

   PRCP PRCP_ATTRIBUTES  TAVG TAVG_ATTRIBUTES  TMAX TMAX_ATTRIBUTES  TMIN  \
0  21.9             ,,E   NaN             NaN   5.0             ,,E   NaN
1   NaN             NaN   NaN             NaN   NaN             NaN   1.0
2   0.0             ,,E   NaN             NaN   8.0             ,,E   NaN
3   0.0             ,,E   NaN             NaN   6.0             ,,E   1.0
4   0.0             ,,E   NaN             NaN   9.0             ,,E   2.0

  TMIN_ATTRIBUTES  SNWD SNWD_ATTRIBUTES
0             NaN   NaN             NaN
1             ,,E   NaN             NaN
2             NaN   NaN             NaN
3             ,,E   NaN             NaN
4             ,,E   NaN             NaN
STATION                 0
NAME                    0
LATITUDE                0
LONGITUDE               0
ELEVATION               0
DATE                    0
PRCP               281968
PRCP_ATTRIBUTES    281968
TAVG               121851
TAVG_ATTRIBUTES    121851
TMAX               205524
TMAX_ATTRIBUTES    205524
TMIN               140735
TMIN_ATTRIBUTES    140735
SNWD               875932
SNWD_ATTRIBUTES    875932
dtype: int64

In [5]:
# Save the merged file
df1.to_csv("./Dataset/Weather Data/Algeria/Weather_Algeria.csv", index=False)

In [6]:
# merging the files 2
files_joined2 = os.path.join(
    "./Dataset/Weather Data/Morocco", "Weather_*.csv"
)

# Return a list of all joined files
list_files2 = glob.glob(files_joined2)

In [7]:
print("** Merging multiple csv files into a single pandas df2 **")
# Merge files by joining all files
df2 = pd.concat(map(pd.read_csv, list_files2), ignore_index=True)
print(df2.head())
print(df2.isnull().sum())

** Merging multiple csv files into a single pandas df2 **

C:\Users\samyb\AppData\Local\Temp\ipykernel_10768\120892876.py:3: DtypeWarning: Columns (7,9,13,15,23,25,27,29,31,33,35,37,39,41,43,45,47) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.concat(map(pd.read_csv, list_files2), ignore_index=True)
C:\Users\samyb\AppData\Local\Temp\ipykernel_10768\120892876.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.concat(map(pd.read_csv, list_files2), ignore_index=True)

       STATION              NAME  LATITUDE  LONGITUDE  ELEVATION        DATE  \
0  MOW00013020  SIDI SLIMANE, MO  34.23333   -6.06667       55.2  1951-09-13
1  MOW00013020  SIDI SLIMANE, MO  34.23333   -6.06667       55.2  1951-09-14
2  MOW00013020  SIDI SLIMANE, MO  34.23333   -6.06667       55.2  1951-09-15
3  MOW00013020  SIDI SLIMANE, MO  34.23333   -6.06667       55.2  1951-09-16
4  MOW00013020  SIDI SLIMANE, MO  34.23333   -6.06667       55.2  1951-09-17

   PGTM PGTM_ATTRIBUTES  PRCP PRCP_ATTRIBUTES  ...  ACSH ACSH_ATTRIBUTES  \
0   NaN             NaN   0.0             ,,X  ...   NaN             NaN
1   NaN             NaN   0.0             ,,X  ...   NaN             NaN
2   NaN             NaN   0.0             ,,X  ...   NaN             NaN
3   NaN             NaN   0.0             ,,X  ...   NaN             NaN
4   NaN             NaN   0.0             ,,X  ...   NaN             NaN

   WDFM WDFM_ATTRIBUTES  WSFM WSFM_ATTRIBUTES  WT02 WT02_ATTRIBUTES  WT18  \
0   NaN             NaN   NaN             NaN   NaN             NaN   NaN
1   NaN             NaN   NaN             NaN   NaN             NaN   NaN
2   NaN             NaN   NaN             NaN   NaN             NaN   NaN
3   NaN             NaN   NaN             NaN   NaN             NaN   NaN
4   NaN             NaN   NaN             NaN   NaN             NaN   NaN

  WT18_ATTRIBUTES
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN

[5 rows x 48 columns]
STATION                 0
NAME                    0
LATITUDE                0
LONGITUDE               0
ELEVATION               0
DATE                    0
PGTM               234963
PGTM_ATTRIBUTES    234963
PRCP                77472
PRCP_ATTRIBUTES     77472
SNOW               234645
SNOW_ATTRIBUTES    234645
SNWD               234544
SNWD_ATTRIBUTES    234544
TAVG                20273
TAVG_ATTRIBUTES     20273
TMAX                44733
TMAX_ATTRIBUTES     44733
TMIN                58388
TMIN_ATTRIBUTES     58388
WDFG               234963
WDFG_ATTRIBUTES    234963
WSFG               234961
WSFG_ATTRIBUTES    234961
WT01               239580
WT01_ATTRIBUTES    239580
WT03               242163
WT03_ATTRIBUTES    242163
WT05               242391
WT05_ATTRIBUTES    242391
WT07               242379
WT07_ATTRIBUTES    242379
WT08               239491
WT08_ATTRIBUTES    239491
WT09               242431
WT09_ATTRIBUTES    242431
WT16               240372
WT16_ATTRIBUTES    240372
ACSH               241506
ACSH_ATTRIBUTES    241506
WDFM               242432
WDFM_ATTRIBUTES    242432
WSFM               242432
WSFM_ATTRIBUTES    242432
WT02               242267
WT02_ATTRIBUTES    242267
WT18               242431
WT18_ATTRIBUTES    242431
dtype: int64

In [8]:
# Save the merged file
df2.to_csv("./Dataset/Weather Data/Morocco/Weather_Morocco.csv", index=False)

In [9]:
# merging the files 3
files_joined3 = os.path.join(
    "./Dataset/Weather Data/Tunisia", "Weather_*.csv"
)

# Return a list of all joined files
list_files3 = glob.glob(files_joined3)

In [10]:
print("** Merging multiple csv files into a single pandas df3 **")
# Merge files by joining all files
df3 = pd.concat(map(pd.read_csv, list_files3), ignore_index=True)
print(df3.head())
print(df3.isnull().sum())

** Merging multiple csv files into a single pandas df3 **

C:\Users\samyb\AppData\Local\Temp\ipykernel_10768\204014107.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.concat(map(pd.read_csv, list_files3), ignore_index=True)
C:\Users\samyb\AppData\Local\Temp\ipykernel_10768\204014107.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.concat(map(pd.read_csv, list_files3), ignore_index=True)
C:\Users\samyb\AppData\Local\Temp\ipykernel_10768\204014107.py:3: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.concat(map(pd.read_csv, list_files3), ignore_index=True)

       STATION       NAME  LATITUDE  LONGITUDE  ELEVATION        DATE  PRCP  \
0  TS000060765  GABES, TS     33.88       10.1        4.0  1921-01-01   0.0
1  TS000060765  GABES, TS     33.88       10.1        4.0  1921-01-02   0.0
2  TS000060765  GABES, TS     33.88       10.1        4.0  1921-01-03   0.0
3  TS000060765  GABES, TS     33.88       10.1        4.0  1921-01-04   0.0
4  TS000060765  GABES, TS     33.88       10.1        4.0  1921-01-05   0.0

  PRCP_ATTRIBUTES  TAVG TAVG_ATTRIBUTES  TMAX TMAX_ATTRIBUTES  TMIN  \
0             ,,E   NaN             NaN   NaN             NaN   NaN
1             ,,E   NaN             NaN   NaN             NaN   NaN
2             ,,E   NaN             NaN   NaN             NaN   NaN
3             ,,E   NaN             NaN   NaN             NaN   NaN
4             ,,E   NaN             NaN   NaN             NaN   NaN

  TMIN_ATTRIBUTES  SNWD SNWD_ATTRIBUTES
0             NaN   NaN             NaN
1             NaN   NaN             NaN
2             NaN   NaN             NaN
3             NaN   NaN             NaN
4             NaN   NaN             NaN
STATION                 0
NAME                    0
LATITUDE                0
LONGITUDE               0
ELEVATION               0
DATE                    0
PRCP                39859
PRCP_ATTRIBUTES     39859
TAVG                69361
TAVG_ATTRIBUTES     69361
TMAX                29500
TMAX_ATTRIBUTES     29500
TMIN                36687
TMIN_ATTRIBUTES     36687
SNWD               167416
SNWD_ATTRIBUTES    167416
dtype: int64

In [11]:
# Save the merged file
df3.to_csv("./Dataset/Weather Data/Tunisia/Weather_Tunisia.csv", index=False)

In [12]:
# set files path
algeria = "./Dataset/Weather Data/Algeria/Weather_Algeria.csv"
morocco = "./Dataset/Weather Data/Morocco/Weather_Morocco.csv"
tunisia = "./Dataset/Weather Data/Tunisia/Weather_Tunisia.csv"

In [13]:
print("*** Merging multiple csv files into a single pandas dataframe ***")

# merge files
dataFrame = pd.concat(map(pd.read_csv, [algeria, morocco, tunisia]), ignore_index=True)
print(dataFrame.head())

*** Merging multiple csv files into a single pandas dataframe ***

C:\Users\samyb\AppData\Local\Temp\ipykernel_10768\2613445443.py:4: DtypeWarning: Columns (9,15) have mixed types. Specify dtype option on import or set low_memory=False.
  dataFrame = pd.concat(map(pd.read_csv, [algeria, morocco, tunisia]), ignore_index=True)
C:\Users\samyb\AppData\Local\Temp\ipykernel_10768\2613445443.py:4: DtypeWarning: Columns (7,11,13,21,23,25,27,29,31,33,35,37,39,41,43,45,47) have mixed types. Specify dtype option on import or set low_memory=False.
  dataFrame = pd.concat(map(pd.read_csv, [algeria, morocco, tunisia]), ignore_index=True)
C:\Users\samyb\AppData\Local\Temp\ipykernel_10768\2613445443.py:4: DtypeWarning: Columns (15) have mixed types. Specify dtype option on import or set low_memory=False.
  dataFrame = pd.concat(map(pd.read_csv, [algeria, morocco, tunisia]), ignore_index=True)

       STATION               NAME  LATITUDE  LONGITUDE  ELEVATION        DATE  \
0  AGE00147709  FORT NATIONAL, AG     36.63        4.2      942.0  1920-01-02
1  AGE00147709  FORT NATIONAL, AG     36.63        4.2      942.0  1920-01-03
2  AGE00147709  FORT NATIONAL, AG     36.63        4.2      942.0  1920-01-04
3  AGE00147709  FORT NATIONAL, AG     36.63        4.2      942.0  1920-01-05
4  AGE00147709  FORT NATIONAL, AG     36.63        4.2      942.0  1920-01-06

   PRCP PRCP_ATTRIBUTES  TAVG TAVG_ATTRIBUTES  ...  ACSH ACSH_ATTRIBUTES  \
0  21.9             ,,E   NaN             NaN  ...   NaN             NaN
1   NaN             NaN   NaN             NaN  ...   NaN             NaN
2   0.0             ,,E   NaN             NaN  ...   NaN             NaN
3   0.0             ,,E   NaN             NaN  ...   NaN             NaN
4   0.0             ,,E   NaN             NaN  ...   NaN             NaN

   WDFM WDFM_ATTRIBUTES  WSFM WSFM_ATTRIBUTES  WT02 WT02_ATTRIBUTES  WT18  \
0   NaN             NaN   NaN             NaN   NaN             NaN   NaN
1   NaN             NaN   NaN             NaN   NaN             NaN   NaN
2   NaN             NaN   NaN             NaN   NaN             NaN   NaN
3   NaN             NaN   NaN             NaN   NaN             NaN   NaN
4   NaN             NaN   NaN             NaN   NaN             NaN   NaN

  WT18_ATTRIBUTES
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN

[5 rows x 48 columns]

In [14]:
keep_columns = ['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'PRCP', 'TAVG', 
                'TMAX', 'TMIN', 'SNWD', 'PGTM', 'SNOW', 'WDFG', 'WSFG',]

dataFrame.drop(columns=[col for col in dataFrame.columns if col not in keep_columns], inplace=True)

In [15]:
# Convert date to datetime format
dataFrame['DATE'] = pd.to_datetime(dataFrame['DATE'], format='%Y-%m-%d')

# Create new columns for year, month, and day
dataFrame['YEAR'] = dataFrame['DATE'].dt.year
dataFrame['MONTH'] = dataFrame['DATE'].dt.month
dataFrame['DAY'] = dataFrame['DATE'].dt.day

In [16]:
dataFrame['PAYS'] = dataFrame['STATION'].str[:2]

In [17]:
dataFrame['TMIN'] = dataFrame['TMIN'].replace(-99, pd.NA)
dataFrame['TMIN'] = dataFrame['TMIN'].replace(93.2, pd.NA)

In [18]:
dataFrame['PRCP'].fillna(0, inplace=True)
dataFrame['SNWD'].fillna(0, inplace=True)
dataFrame['SNOW'].fillna(0, inplace=True)

dataFrame['TAVG'].fillna(dataFrame['TAVG'].median(), inplace=True)
dataFrame['TMAX'].fillna(dataFrame['TMAX'].median(), inplace=True)
dataFrame['TMIN'].fillna(dataFrame['TMIN'].median(), inplace=True)
dataFrame['PGTM'].fillna(dataFrame['PGTM'].median(), inplace=True)
dataFrame['WDFG'].fillna(dataFrame['WDFG'].median(), inplace=True)
dataFrame['WSFG'].fillna(dataFrame['WSFG'].median(), inplace=True)

In [19]:
dataFrame.to_csv("./Dataset/Weather_data.csv", index=False)

In [20]:
print(dataFrame.columns.to_list())

['STATION', 'NAME', 'LATITUDE', 'LONGITUDE', 'ELEVATION', 'DATE', 'PRCP', 'TAVG', 'TMAX', 'TMIN', 'SNWD', 'PGTM', 'SNOW', 'WDFG', 'WSFG', 'YEAR', 'MONTH', 'DAY', 'PAYS']

In [21]:
dataFrame

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,PRCP,TAVG,TMAX,TMIN,SNWD,PGTM,SNOW,WDFG,WSFG,YEAR,MONTH,DAY,PAYS
0,AGE00147709,"FORT NATIONAL, AG",36.63,4.2,942.0,1920-01-02,21.9,18.7,5.0,13.0,0.0,1448.0,0.0,315.0,8.7,1920,1,2,AG
1,AGE00147709,"FORT NATIONAL, AG",36.63,4.2,942.0,1920-01-03,0.0,18.7,24.3,1.0,0.0,1448.0,0.0,315.0,8.7,1920,1,3,AG
2,AGE00147709,"FORT NATIONAL, AG",36.63,4.2,942.0,1920-01-04,0.0,18.7,8.0,13.0,0.0,1448.0,0.0,315.0,8.7,1920,1,4,AG
3,AGE00147709,"FORT NATIONAL, AG",36.63,4.2,942.0,1920-01-05,0.0,18.7,6.0,1.0,0.0,1448.0,0.0,315.0,8.7,1920,1,5,AG
4,AGE00147709,"FORT NATIONAL, AG",36.63,4.2,942.0,1920-01-06,0.0,18.7,9.0,2.0,0.0,1448.0,0.0,315.0,8.7,1920,1,6,AG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1287267,TSE00147773,"KAIROUAN, TS",35.67,10.1,60.0,2022-05-07,0.0,19.4,23.9,15.6,0.0,1448.0,0.0,315.0,8.7,2022,5,7,TS
1287268,TSE00147773,"KAIROUAN, TS",35.67,10.1,60.0,2022-05-09,0.0,19.6,26.0,14.3,0.0,1448.0,0.0,315.0,8.7,2022,5,9,TS
1287269,TSE00147773,"KAIROUAN, TS",35.67,10.1,60.0,2022-05-10,2.0,18.1,24.3,14.9,0.0,1448.0,0.0,315.0,8.7,2022,5,10,TS
1287270,TSE00147773,"KAIROUAN, TS",35.67,10.1,60.0,2022-05-11,5.6,19.7,26.6,14.3,0.0,1448.0,0.0,315.0,8.7,2022,5,11,TS
1287271,TSE00147773,"KAIROUAN, TS",35.67,10.1,60.0,2022-05-12,0.0,21.6,24.3,13.0,0.0,1448.0,0.0,315.0,8.7,2022,5,12,TS

In [22]:
dataFrame['TMIN'].isnull().sum()

0

In [23]:
dataFrame['TMIN'].describe()

count    1.287272e+06
mean     1.317053e+01
std      6.598721e+00
min     -1.500000e+01
25%      9.000000e+00
50%      1.300000e+01
75%      1.740000e+01
max      3.750000e+01
Name: TMIN, dtype: float64